<div class="fullscreen">
  <div class="fullscreen-overlay">
  </div>
</div>

<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container logo">
    <h1>SongScaper</h1>
<!--     <img class="images"> -->
  </div>
</header>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->

<div class="col-md-12">

  <div class="col-md-8 center" id="creatediv" ng-hide"artistResults.length || albumResults.length || trackResults.length">
    <h2>Search For an Artist</h2>
    <div class="col-lg-6 text-center" id="namebox">
      <div class="input-group">
        <!--  -->
        <input id="nameInput" type="text" class="form-control" ng-model="name" value=""></input>
        <span class="input-group-btn">
         <button type="button" class="btn btn-primary"  ng-click="searchArtistId(name)">Submit</button>
       </span>

     </div>
   </div>
 </div>

 <div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-show="artistResults.length" ng-repeat="artist in artistResults">
  <img class="artist_image" ng-src="{{ artist.image }}">
  <h3>{{ artist.artist }}</h3>
  <p class="centerbutton"><a class="btn btn-primary" role="button" ng-click="getAlbumsById(artist.id)" ui-sref="analysis">Select Artist</a></p>

</div>

<div class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-show="albumResults.length" ng-repeat="album in albumResults">
  <img class="album_image" ng-src="{{ album.image }}">
  <h3>{{ album.album }}</h3>
  <p class="centerbutton"><a class="btn btn-primary" role="button" ng-click="getTracksById(album.id)" ui-sref="analysis">Select Album</a></p>

</div>

  <div class="col-md-6" ng-show="trackResults.length">

    <h2>Choose a Track to Analyze</h2>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="track in trackResults"  ng-click="analyzeTrack(track)"><a href="#"> {{ track.title }}</a></li>
    </ul>
  </div>

</div>

<!-- {{analysisResults}} -->

<!-- <div class="col-md-6" ng-show="analysisResults.length">

    <h2>Analysis Results</h2>
    <ul>
      <li ng-repeat="segment in analysisResults">{{segment.pitches}}</li>
    </ul>
  </div> -->

</div>

   <div class="days-hours-heatmap">
      <!-- calibration and render type controller -->
      <div class="calibration" role="calibration">
        <div class="group" role="example">
          <svg width="120" height="17">
          </svg>
          <div role="description" class="description">
            <label>Less</label>
            <label>More</label>
          </div>        
        </div>
        <div role="toggleDisplay" class="display-control">
          <div>
            <input type="radio" name="displayType" checked/>
            <label>count</label>
          </div>
          <div>
            <input type="radio" name="displayType"/>
            <label>daily</label> 
          </div>
        </div>
      </div>

      <div analysis-chart></div>
      <!-- heatmap -->
      <svg role="heatmap" class="heatmap"></svg>
    </div>



<footer class="footer">
      <p>By <a href="https://github.com/awatt" target="_blank">Andy Watt</a></p>
</footer>